<div class="home">
  <h1>Task: <%= @task.title %></h1>

  <h2>Description: <%= @task.details %></h2>

   <div class="symbol">
     <%if @task.completed == true %>
        ✔ Task is completed
      <%else%>
        😢 Task is not complete  
      <% end %>
    </div>

  <%= link_to "Return to main", tasks_path %><br><br>

  <button class="button"><%= link_to "Update this task", edit_path, class: "button-link" %></button>
  <button class="button"><%= link_to "Delete", task_path(@task), class: "button-link", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%></button>
</div>